@model PostsViewModel

<form class="search-filter" asp-action="Filter" asp-controller="Posts" method="post">
    <h1>Фільтр</h1>
    @await Html.PartialAsync("~/Views/Partial/Filters/OperationTypePartial.cshtml")
    @await Html.PartialAsync("~/Views/Partial/Filters/BuildTypePartial.cshtml")
    @await Html.PartialAsync("~/Views/Partial/Filters/ItemStatePartial.cshtml")
    @await Html.PartialAsync("~/Views/Partial/Filters/AreaPartial.cshtml")

    <br />

    <h3>Ціна</h3>
    <input type="number" min="0" placeholder="Від" name="price_min" asp-for="price_min" autocomplete="off" value="@Model.price_min" />
    <input type="number" min="0" placeholder="До" name="price_max" asp-for="price_max" autocomplete="off" value="@Model.price_max" />

    <br />

    <h3>Площа</h3>
    <input type="number" min="0" placeholder="Від" name="square_min" asp-for="square_min" autocomplete="off" value="@Model.square_min" />
    <input type="number" min="0" placeholder="До" name="square_max" asp-for="square_max" autocomplete="off" value="@Model.square_max" />

    <br />

    <h3>Поверх</h3>
    <input type="number" min="0" placeholder="Від" name="floor_min" asp-for="floor_min" autocomplete="off" value="@Model.floor_min" />
    <input type="number" min="0" placeholder="До" name="floor_max" asp-for="floor_max" autocomplete="off" value="@Model.floor_max" />

    <br />

    <input type="hidden" name="page" value="@Model.page" />
    <button type="submit"><p>Застосувати</p></button>

    <br />

</form>