@model PostsViewModel
@{
    ViewData["Title"] = "Оголошення";
}

<link rel="stylesheet" href="/css/PostsList.css" asp-append-version="true" />


<div class="wrapper">

    <div class="filter">
        @await Html.PartialAsync("~/Views/Posts/Partial/FilterPartial.cshtml", Model)
    </div>

    <div class="list">
        <h1>Доступні оголошення</h1>

        <div class="list-posts">

            @await Html.PartialAsync("~/Views/Posts/Partial/PublicationsListPartial.cshtml", Model)

            @if (Model.Publications.Count == 0)
            {
                <h3>Немає оголошень за цим фільтром</h3>
            }
            else
            {
                <form class="pages">
                    <input type="hidden" name="model" value="@Model" />
                    <button type="submit" name="action" value="prev"><p>&#8592;</p></button>
                    <p class="page-number">Сторінка @Model.page</p>
                    <button type="submit" name="action" value="next"><p>&#8594;</p></button>
                </form>
            }
        </div>


    </div>

</div>



<script>
    $(document).ready(function () {
        document.querySelector('select[name="objtypeId"] option[value="@Model.objtypeId"]').selected = true;
        document.querySelector('select[name="operation_type"] option[value="@Model.operation_type"]').selected = true;
        document.querySelector('select[name="state"] option[value="@Model.state"]').selected = true;
        document.querySelector('select[name="areaId"] option[value="@Model.areaId"]').selected = true;


        document.querySelectorAll('.single-post').forEach(function (element) {
            element.addEventListener('click', function (event) {
                event.preventDefault();

                let form = element.closest('form');
                if (form) {
                    form.target = '_blank';
                    form.submit();
                }
            });
        });
    });
</script>