@model PostsViewModel
@{
    ViewData["Title"] = "Оголошення";
}

<link rel="stylesheet" href="/css/PostsList.css" asp-append-version="true" />


<div class="wrapper">

    <div class="filter">
        <form class="search-filter" asp-action="Filter" asp-controller="Posts" method="post">
            <h1>Фільтр</h1>
            @await Html.PartialAsync("~/Views/Partial/Filters/OperationTypePartial.cshtml")
            @await Html.PartialAsync("~/Views/Partial/Filters/BuildTypePartial.cshtml")
            @await Html.PartialAsync("~/Views/Partial/Filters/ItemStatePartial.cshtml")
            @await Html.PartialAsync("~/Views/Partial/Filters/AreaPartial.cshtml", "asp-for=\"area\"")

            <br />

            <h3>Ціна</h3>
            <input type="number" min="0" placeholder="Від" name="price_min" asp-for="price_min" autocomplete="off" value="@Model.price_min" />
            <input type="number" min="0" placeholder="До" name="price_max" asp-for="price_max" autocomplete="off" value="@Model.price_max" />

            <br />

            <h3>Площа</h3>
            <input type="number" min="0" placeholder="Від" name="square_min" asp-for="square_min" autocomplete="off" value="@Model.square_min" />
            <input type="number" min="0" placeholder="До" name="square_max" asp-for="square_max" autocomplete="off" value="@Model.square_max" />

            <br />

            <h3>Поверх</h3>
            <input type="number" min="0" placeholder="Від" name="floor_min" asp-for="floor_min" autocomplete="off" value="@Model.floor_min" />
            <input type="number" min="0" placeholder="До" name="floor_max" asp-for="floor_max" autocomplete="off" value="@Model.floor_max" />

            <br />

            <input type="hidden" name="page" value="@Model.page" />
            <button type"submit"><p>Застосувати</p></button>

            <br />

        </form>
    </div>

    <div class="list">
        <h1>Доступні оголошення</h1>

        <div class="list-posts">

            @foreach (PublicationViewModel item in Model.Publications)
            {
                <form class="single-post" asp-action="Details" asp-controller="Posts" method="post">

                    <div class="img-data">
                        <img src="@Html.Raw(item.images_pathes[0])" />
                    </div>
                    <div class="text-data">
                        <h6>@item.title</h6>
                        <em style="text-align: right;">@item.area_inf</em>
                        <text><b>Адреса:</b> @item.adres</text>


                        <text><b>Тип:</b> @item.objtype_inf</text>
                        <text><b>Дія:</b> @item.operation_inf</text>
                        <text><b>Стан:</b> @item.state_inf</text>

                        <text><b>Опис:</b> @(item.about.Length > 30 ? item.about.Substring(0, 30) : item.about)</text>
                        <p>@item.price грн.</p>

                        <input type="hidden" name="id" value="@item.Id" />

                    </div>

                </form>
            }
            @if (Model.Publications.Count == 0)
            {
                <h3>Немає оголошень за цим фільтром</h3>
            }
            else
            {
                <form class="pages">
                    <input type="hidden" name="model" value="@Model" />
                    <button type="submit" name="action" value="prev"><p>&#8592;</p></button>
                    <p class="page-number">Сторінка @Model.page</p>
                    <button type="submit" name="action" value="next"><p>&#8594;</p></button>
                </form>
            }
        </div>


    </div>

</div>



<script>
    $(document).ready(function () {
        document.querySelector('select[name="objtypeId"] option[value="@Model.objtypeId"]').selected = true;
        document.querySelector('select[name="operation_type"] option[value="@Model.operation_type"]').selected = true;
        document.querySelector('select[name="state"] option[value="@Model.state"]').selected = true;
        document.querySelector('select[name="areaId"] option[value="@Model.areaId"]').selected = true;


        document.querySelectorAll('.single-post').forEach(function (element) {
            element.addEventListener('click', function (event) {
                event.preventDefault();
                console.log('123');
                let form = element.closest('form');
                if (form) {
                    form.submit();
                }
            });
        });

    });
</script>